@import "tailwindcss";

/* 1. OBRIGATÓRIO PARA TAILWIND v4: Força o modo escuro a funcionar via classe (.dark) */
@variant dark (&:where(.dark, .dark *));

/* Variáveis de tema do Flowbite */
@import "flowbite/src/themes/default";

/* Plugin do Flowbite e fontes */
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* SweetAlert2 + Tailwind dark mode */
.swal2-popup {
  border-radius: 1rem;
}

html.dark .swal2-popup {
  background: #0f172a; /* slate-900 */
  color: #e2e8f0;      /* slate-200 */
}

html.dark .swal2-title,
html.dark .swal2-html-container {
  color: #e2e8f0;
}

html.dark .swal2-timer-progress-bar {
  background: #38bdf8; /* sky-400 */
}

.scrollbar-hide{
  scrollbar-width: none;     
  -ms-overflow-style: none;  
}
.scrollbar-hide::-webkit-scrollbar{
  width: 0 !important;
  height: 0 !important;
}

