@import "tailwindcss";

/* 1. OBRIGATÓRIO PARA TAILWIND v4: Força o modo escuro a funcionar via classe (.dark) */
@variant dark (&:where(.dark, .dark *));

/* Variáveis de tema do Flowbite */
@import "flowbite/src/themes/default";

/* Plugin do Flowbite e fontes */
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';