@import "tailwindcss";

/* Variáveis de tema do Flowbite (opcional mas recomendado) */
@import "flowbite/src/themes/default";

/* Plugin do Flowbite e fontes de conteúdo */
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

/* O resto do que você já tinha: */
@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
